```
node_modules/
dist/
build/
*.log
.env
.env.local
.env.*
coverage/
htmlcov/
.coverage
.nyc_output/
tmp/
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.dll
*.so
*.dylib
*.exe
*.out
target/
.gradle/
.cargo/
Cargo.lock
*.gem
vendor/
.bundle/
*.rbc
*.rbo
*.run
*.pdb
*.ilk
*.map
*.err
*.res
*.rsp
*.pgm
*.pgn
*.pot
*.pps
*.ppsx
*.ppt
*.pptx
*.pub
*.rtf
*.sdf
*.sh
*.sln
*.suo
*.svg
*.swf
*.sys
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tbz2
*.tcsh
*.tex
*.tgz
*.theme
*.tif
*.tiff
*.tlb
*.tmp
*.tmp
*.torrent
*.ttf
*.twin
*.txt
*.udf
*.url
*.user
*.vb
*.vbs
*.vcproj
*.vdp
*.vdx
*.vmdk
*.vml
*.vsd
*.vsix
*.vsmacros
*.vss
*.vst
*.vsto
*.vssettings
*.vsw
*.wav
*.wbk
*.wdp
*.webinfo
*.wiq
*.wiz
*.wll
*.wm
*.wma
*.wmv
*.woff
*.wpd
*.wps
*.wri
*.xaml
*.xap
*.xbap
*.xdr
*.xlk
*.xll
*.xml
*.xpi
*.xrm-ms
*.xsd
*.xsl
*.xslt
*.xsn
*.xtp
*.yy
*.z
*.zip
*.rar
*.7z
*.gz
*.bz2
*.xz
*.lz
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lzma
*.lzo
*.tar.Z
*.tar.lz
*.tar.lz4
*.tar.lzo
*.tar.xz
*.tar.zst
*.zst
*.zst.tar
*.zstd
*.zst.tar.gz
*.zst.tar.xz
*.zst.tar.bz2
```